@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content {
  height: 100vh;
  overflow-y: auto;
}

.register-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

/* transaction page */
.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 0 3px grey;
}

/* antd icons */

.icon-container {
  /* border: 1px solid rgba(0, 0, 0, 0.677); */
  border-radius: 5px;
  padding: 10px 15px;
  display: flex;
  gap: 1rem;
}

.anticon svg {
  font-size: 24px;
  cursor: pointer;
}

.active-icon {
  color: rgb(110, 229, 110);
}

.inactive-icon {
  color: black;
}
